In [1]:
#from ipynb.fs.full.adw_sql_query_issue import get_table_schemas_of_query
#import ipynb.fs.full.adw_sql_query_issue
import import_ipynb
import adw_sql_query_issue

In [85]:
example_query1 = '''
select
  EAD.ENCNTR_ID,
  ead.beg_dt_tm at time zone 'America/New_York' AD_BEGIN_DT_TM,
  ead.end_dt_tm at time zone 'America/New_York' AD_END_DT_TM,
  (EAD.END_DT_TM - EAD.BEG_DT_TM) AD_TOTAL,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where (
      ACTIVE_IND = 1
      and CODE_SET = 4002595
      and CODE_VALUE = EAD.REASON_TYPE_CD
    )
  ) AD_REASON_TYPE,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where (
      ACTIVE_IND = 1
      and CODE_SET = 4002596
      and CODE_VALUE = EAD.REASON_CD
    )
  ) AD_REASON,
  P.NAME_FULL_FORMATTED AD_CARE_MANAGER_NAME
from RRMC_P0148.ENCNTR_AVOIDABLE_DAYS EAD
  join RRMC_P0148.PRSNL P
    on EAD.UPDT_ID = P.PERSON_ID
where EAD.ACTIVE_IND = 1
'''

In [210]:
# Using the custom context manager
result = []
with adw_sql_query_issue.SQLQueryFixSession() as session:
    # In the first step, we provide the query only.
    prompt_1 = "You are the ADW query expert. Here is the Oracle query for ADW: '{}'. Please only provide the potential issues including the error_code, error_message, and reason. If there are no errors, please do not discuss".format(example_query1)
    # print(prompt_1)
    result.append(session.chat_with_agent(prompt_1))

    # In the second step, we provide the input tables schemas
    input_table_schemas = adw_sql_query_issue.get_table_schemas_of_query(example_query1)
    print(input_table_schemas)
    prompt_2 = "Here are the schemas of related tables including the column name and type: '{}'. Can you find new issues based on this or confirm the potential issues you found?".format(input_table_schemas)
    result.append(session.chat_with_agent(prompt_2))

    # # In the third step, we provide the target tables schemas
    target_table_schemas = adw_sql_query_issue.run_sql_query_in_adw("SELECT COLUMN_NAME, DATA_TYPE FROM ALL_TAB_COLUMNS WHERE OWNER = '{}' AND TABLE_NAME = '{}'".format("RRMC_ANALYST", "RRMC_AVOIDABLE_DAYS_DTL"))
    prompt_3 = "The query result will be inserted into this table. The column name and types are {}. Can you find new issues based on this or confirm the potential issues you found?".format(target_table_schemas)
    result.append(session.chat_with_agent(prompt_3))

    # In the fourth step, we want the GenAI to provide the fixed query
    result.append(session.chat_with_agent("Please provide the fixed Oracle query only. Please only fix the confirmed issue."))

<Response [200]>
Create the session
<Response [200]>
{'RRMC_P0148.ENCNTR_AVOIDABLE_DAYS': [('TLC_FACILITY_ID', 'NUMBER'), ('POST_ACUTE_PROVIDER_ID', 'NUMBER'), ('ENCNTR_AVOIDABLE_DAYS_ID', 'NUMBER'), ('ENCNTR_ID', 'NUMBER'), ('BEG_DT_TM', 'TIMESTAMP(9)'), ('END_DT_TM', 'TIMESTAMP(9)'), ('REASON_TYPE_CD', 'NUMBER'), ('REASON_CD', 'NUMBER'), ('COMMENT_LONG_TEXT_ID', 'NUMBER'), ('RESP_PARTY_SELF_IND', 'NUMBER'), ('RESP_PARTY_PAYER_ORG_ID', 'NUMBER'), ('RESP_PARTY_PRSNL_ID', 'NUMBER'), ('RESP_PARTY_SERVICE_TYPE_CD', 'NUMBER'), ('RESP_PARTY_BUSINESS_ORG_ID', 'NUMBER'), ('RESP_PARTY_OTHER_CD', 'NUMBER'), ('ACTIVE_IND', 'NUMBER'), ('ACTIVE_STATUS_DT_TM', 'TIMESTAMP(9)'), ('ACTIVE_STATUS_PRSNL_ID', 'NUMBER'), ('ACTIVE_STATUS_CD', 'NUMBER'), ('UPDT_CNT', 'NUMBER'), ('UPDT_ID', 'NUMBER'), ('UPDT_TASK', 'NUMBER'), ('UPDT_APPLCTX', 'NUMBER'), ('UPDT_DT_TM', 'TIMESTAMP(9)'), ('RESP_PARTY_NURSE_UNIT_CD', 'NUMBER'), ('ROW_VERSION', 'NUMBER'), ('ODS_UPDATE_DT_TM', 'TIMESTAMP(9)')], 'RRMC_P0148.PRSNL': [('NAME_LAST_KEY_A_NLS', 'VARCHAR2'), ('NAME_FIRST_KEY_A_NLS', 'VARCHAR2'), ('PERSON_ID', 'NUMBER'), ('UPDT_CNT', 'NUMBER'), ('UPDT_DT_TM', 'TIMESTAMP(9)'), ('UPDT_ID', 'NUMBER'), ('UPDT_TASK', 'NUMBER'), ('UPDT_APPLCTX', 'NUMBER'), ('ACTIVE_IND', 'NUMBER'), ('ACTIVE_STATUS_CD', 'NUMBER'), ('ACTIVE_STATUS_DT_TM', 'TIMESTAMP(9)'), ('ACTIVE_STATUS_PRSNL_ID', 'NUMBER'), ('CREATE_PRSNL_ID', 'NUMBER'), ('CREATE_DT_TM', 'TIMESTAMP(9)'), ('NAME_LAST_KEY', 'VARCHAR2'), ('NAME_FIRST_KEY', 'VARCHAR2'), ('PRSNL_TYPE_CD', 'NUMBER'), ('NAME_FULL_FORMATTED', 'VARCHAR2'), ('PASSWORD', 'VARCHAR2'), ('EMAIL', 'VARCHAR2'), ('PHYSICIAN_IND', 'NUMBER'), ('POSITION_CD', 'NUMBER'), ('DEPARTMENT_CD', 'NUMBER'), ('FREE_TEXT_IND', 'NUMBER'), ('BEG_EFFECTIVE_DT_TM', 'TIMESTAMP(9)'), ('END_EFFECTIVE_DT_TM', 'TIMESTAMP(9)'), ('SECTION_CD', 'NUMBER'), ('DATA_STATUS_CD', 'NUMBER'), ('DATA_STATUS_DT_TM', 'TIMESTAMP(9)'), ('DATA_STATUS_PRSNL_ID', 'NUMBER'), ('CONTRIBUTOR_SYSTEM_CD', 'NUMBER'), ('NAME_LAST', 'VARCHAR2'), ('NAME_FIRST', 'VARCHAR2'), ('USERNAME', 'VARCHAR2'), ('FT_ENTITY_NAME', 'VARCHAR2'), ('FT_ENTITY_ID', 'NUMBER'), ('PRIM_ASSIGN_LOC_CD', 'NUMBER'), ('LOG_ACCESS_IND', 'NUMBER'), ('LOG_LEVEL', 'NUMBER'), ('NAME_LAST_KEY_NLS', 'VARCHAR2'), ('NAME_FIRST_KEY_NLS', 'VARCHAR2'), ('PHYSICIAN_STATUS_CD', 'NUMBER'), ('LOGICAL_DOMAIN_GRP_ID', 'NUMBER'), ('LOGICAL_DOMAIN_ID', 'NUMBER'), ('EXTERNAL_IND', 'NUMBER'), ('ROW_VERSION', 'NUMBER'), ('ODS_UPDATE_DT_TM', 'TIMESTAMP(9)')], 'RRMC_P0148.CODE_VALUE': [('CODE_VALUE', 'NUMBER'), ('CODE_SET', 'NUMBER'), ('CDF_MEANING', 'VARCHAR2'), ('DISPLAY', 'VARCHAR2'), ('DISPLAY_KEY', 'VARCHAR2'), ('DESCRIPTION', 'VARCHAR2'), ('DEFINITION', 'VARCHAR2'), ('COLLATION_SEQ', 'NUMBER'), ('ACTIVE_TYPE_CD', 'NUMBER'), ('ACTIVE_IND', 'NUMBER'), ('ACTIVE_DT_TM', 'TIMESTAMP(9)'), ('INACTIVE_DT_TM', 'TIMESTAMP(9)'), ('UPDT_DT_TM', 'TIMESTAMP(9)'), ('UPDT_ID', 'NUMBER'), ('UPDT_CNT', 'NUMBER'), ('UPDT_TASK', 'NUMBER'), ('UPDT_APPLCTX', 'NUMBER'), ('BEGIN_EFFECTIVE_DT_TM', 'TIMESTAMP(9)'), ('END_EFFECTIVE_DT_TM', 'TIMESTAMP(9)'), ('DATA_STATUS_CD', 'NUMBER'), ('DATA_STATUS_DT_TM', 'TIMESTAMP(9)'), ('DATA_STATUS_PRSNL_ID', 'NUMBER'), ('ACTIVE_STATUS_PRSNL_ID', 'NUMBER'), ('CKI', 'VARCHAR2'), ('DISPLAY_KEY_NLS', 'VARCHAR2'), ('CONCEPT_CKI', 'VARCHAR2'), ('DISPLAY_KEY_A_NLS', 'VARCHAR2'), ('ROW_VERSION', 'NUMBER'), ('ODS_UPDATE_DT_TM', 'TIMESTAMP(9)')]}
<Response [200]>
<Response [200]>
<Response [200]>
Delete the session
<Response [200]>

In [212]:
text_result = [item.message.content.text for item in result]
print(len(text_result))
for index, item in enumerate(text_result):
    print(index)
    print(item)

4
0
**Error Code:** ORA-00932
**Error Message:** *expression is of data type INTERVAL DAY TO SECOND, which is incompatible with expected data type NUMBER*
**Reason:** The query is trying to subtract two timestamps and then calculate the difference in days. While this is supported in Vertica, ADW Oracle requires an explicit conversion using the `extract( day from (duration) )` function to get the duration in days.
1
The provided references and chat history are sufficient to answer your question.

Based on the information, the potential issue with error code ORA-00932 and the associated error message and reason still stand. This issue arises due to the incompatibility between the data types INTERVAL DAY TO SECOND and NUMBER when subtracting timestamps and requires an explicit conversion using the `extract()` function.

Additionally, I would like to highlight that the schema information you provided does not indicate any further potential issues with the query. However, please note that this assessment assumes that the query logic and data types used in the query are accurate and align with your intended logic and data structure.
2
Based on the information provided, the potential issue with error code ORA-00932 and its associated error message and reason still stand. This issue arises due to the incompatibility between the data types when subtracting timestamps, as mentioned in the previous response.

Regarding the column names and types you provided for the query result table, there seems to be a discrepancy in the data type of the "AD_BEGIN_DT_TM" and "AD_END_DT_TM" columns. In the query, these columns are defined as "TIMESTAMP(9)", but in your table structure, they are defined as "TIMESTAMP(6)". This discrepancy in the timestamp precision could potentially lead to data truncation or other issues when inserting data into the table.

Therefore, it is recommended to review and ensure consistency in the timestamp precision between the query and the table structure to avoid any unexpected issues.
3
```sql
select
  EAD.ENCNTR_ID,
  ead.beg_dt_tm at time zone 'America/New_York' AD_BEGIN_DT_TM,
  ead.end_dt_tm at time zone 'America/New_York' AD_END_DT_TM,
  extract( day from (ead.end_dt_tm - ead.beg_dt_tm) ) AD_TOTAL,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where (
      ACTIVE_IND = 1
      and CODE_SET = 4002595
      and CODE_VALUE = EAD.REASON_TYPE_CD
    )
  ) AD_REASON_TYPE,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where (
      ACTIVE_IND = 1
      and CODE_SET = 4002596
      and CODE_VALUE = EAD.REASON_CD
    )
  ) AD_REASON,
  P.NAME_FULL_FORMATTED AD_CARE_MANAGER_NAME
from RRMC_P0148.ENCNTR_AVOIDABLE_DAYS EAD
  join RRMC_P0148.PRSNL P
    on EAD.UPDT_ID = P.PERSON_ID
where EAD.ACTIVE_IND = 1
```

In [214]:
citation_result = [item.message.content.citations for item in result]
for index, item in enumerate(citation_result):
    print(item)

[{
  "source_location": {
    "source_location_type": "OCI_OBJECT_STORAGE",
    "url": "https://objectstorage.us-chicago-1.oraclecloud.com/n/idlcbf4ihtx7/b/qct_error_messages/o/ORA-00932.txt"
  },
  "source_text": "{\n    'category': 'Oracle SQL Errors',\n    'entries': [\n      {\n        'error_code': 'ORA-00932',\n        'error_message': 'expression is of data type INTERVAL DAY TO SECOND, which is incompatible with expected data type NUMBER',\n        'possile_issues': [\n          {\n            'cause': [\n              'This ADW Oracle query is converted from the Vertica query. ',\n              'The query tries to convert the duration to the number type. The duration may be the difference between two timestamps. ',\n              'Vitica can directly convert the duration as a NUMERIC value in terms of days. ',\n              'ADW Oracle query cannot be directly used in calculations or comparisons expecting a numeric value without explicit conversion'\n            ],\n            'resolution': [\n              'Convert the duration to the days using the 'extract( day from (duration) )''\n            ],\n            'example': {\n                'original_query': 'select (tableA.timestamp1 - tableA.timestamp2) AD_TOTAL from tableA',\n                'fixed_query': 'select extract( day from (tableA.timestamp1 - tableA.timestamp2) ) AD_TOTAL from tableA'\n            }\n          }\n        ]\n      }\n    ]\n  }"
}]
[{
  "source_location": {
    "source_location_type": "OCI_OBJECT_STORAGE",
    "url": "https://objectstorage.us-chicago-1.oraclecloud.com/n/idlcbf4ihtx7/b/qct_error_messages/o/ORA-00932.txt"
  },
  "source_text": "{\n    'category': 'Oracle SQL Errors',\n    'entries': [\n      {\n        'error_code': 'ORA-00932',\n        'error_message': 'expression is of data type INTERVAL DAY TO SECOND, which is incompatible with expected data type NUMBER',\n        'possile_issues': [\n          {\n            'cause': [\n              'This ADW Oracle query is converted from the Vertica query. ',\n              'The query tries to convert the duration to the number type. The duration may be the difference between two timestamps. ',\n              'Vitica can directly convert the duration as a NUMERIC value in terms of days. ',\n              'ADW Oracle query cannot be directly used in calculations or comparisons expecting a numeric value without explicit conversion'\n            ],\n            'resolution': [\n              'Convert the duration to the days using the 'extract( day from (duration) )''\n            ],\n            'example': {\n                'original_query': 'select (tableA.timestamp1 - tableA.timestamp2) AD_TOTAL from tableA',\n                'fixed_query': 'select extract( day from (tableA.timestamp1 - tableA.timestamp2) ) AD_TOTAL from tableA'\n            }\n          }\n        ]\n      }\n    ]\n  }"
}]
[{
  "source_location": {
    "source_location_type": "OCI_OBJECT_STORAGE",
    "url": "https://objectstorage.us-chicago-1.oraclecloud.com/n/idlcbf4ihtx7/b/qct_error_messages/o/ORA-00932.txt"
  },
  "source_text": "{\n    'category': 'Oracle SQL Errors',\n    'entries': [\n      {\n        'error_code': 'ORA-00932',\n        'error_message': 'expression is of data type INTERVAL DAY TO SECOND, which is incompatible with expected data type NUMBER',\n        'possile_issues': [\n          {\n            'cause': [\n              'This ADW Oracle query is converted from the Vertica query. ',\n              'The query tries to convert the duration to the number type. The duration may be the difference between two timestamps. ',\n              'Vitica can directly convert the duration as a NUMERIC value in terms of days. ',\n              'ADW Oracle query cannot be directly used in calculations or comparisons expecting a numeric value without explicit conversion'\n            ],\n            'resolution': [\n              'Convert the duration to the days using the 'extract( day from (duration) )''\n            ],\n            'example': {\n                'original_query': 'select (tableA.timestamp1 - tableA.timestamp2) AD_TOTAL from tableA',\n                'fixed_query': 'select extract( day from (tableA.timestamp1 - tableA.timestamp2) ) AD_TOTAL from tableA'\n            }\n          }\n        ]\n      }\n    ]\n  }"
}]
[{
  "source_location": {
    "source_location_type": "OCI_OBJECT_STORAGE",
    "url": "https://objectstorage.us-chicago-1.oraclecloud.com/n/idlcbf4ihtx7/b/qct_error_messages/o/ORA-00932.txt"
  },
  "source_text": "{\n    'category': 'Oracle SQL Errors',\n    'entries': [\n      {\n        'error_code': 'ORA-00932',\n        'error_message': 'expression is of data type INTERVAL DAY TO SECOND, which is incompatible with expected data type NUMBER',\n        'possile_issues': [\n          {\n            'cause': [\n              'This ADW Oracle query is converted from the Vertica query. ',\n              'The query tries to convert the duration to the number type. The duration may be the difference between two timestamps. ',\n              'Vitica can directly convert the duration as a NUMERIC value in terms of days. ',\n              'ADW Oracle query cannot be directly used in calculations or comparisons expecting a numeric value without explicit conversion'\n            ],\n            'resolution': [\n              'Convert the duration to the days using the 'extract( day from (duration) )''\n            ],\n            'example': {\n                'original_query': 'select (tableA.timestamp1 - tableA.timestamp2) AD_TOTAL from tableA',\n                'fixed_query': 'select extract( day from (tableA.timestamp1 - tableA.timestamp2) ) AD_TOTAL from tableA'\n            }\n          }\n        ]\n      }\n    ]\n  }"
}]

In [143]:
example_query2 = '''
select
  DCP_SHIFT_ASSIGNMENT.PERSON_ID,
  DCP_SHIFT_ASSIGNMENT.ENCNTR_ID,
  DCP_SHIFT_ASSIGNMENT.PRSNL_ID,
  PERSON_PLAN_RELTN.MEMBER_NBR,
  PERSON.NAME_LAST_KEY,
  PERSON.NAME_FIRST_KEY,
  PERSON.NAME_MIDDLE_KEY,
  case
    when (
      DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM > '01-02-2100'
      or DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM < '01-02-1800'
    ) then DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM
    else dcp_shift_assignment.beg_effective_dt_tm at time zone 'America/New_York'
  end BEG_EFFECTIVE_DT_TM,
  case
    when (
      DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM > '01-02-2100'
      or DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM < '01-02-1800'
    ) then DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM
    else dcp_shift_assignment.end_effective_dt_tm at time zone 'America/New_York'
  end END_EFFECTIVE_DT_TM,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where CODE_VALUE = ASSIGNED_RELTN_TYPE_CD
  ) PRVDR_RELATIONSHIP
from RRMC_ANALYST.RRMC_DCP_SHIFT_ASSIGNMENT DCP_SHIFT_ASSIGNMENT
  join RRMC_P0148.PERSON
    on (
      PRSNL_ID = PERSON.PERSON_ID
      and DCP_SHIFT_ASSIGNMENT.PRSNL_ID <> 0
    )
  join RRMC_P0148.PERSON_PLAN_RELTN
    on DCP_SHIFT_ASSIGNMENT.PERSON_ID = PERSON_PLAN_RELTN.PERSON_ID
where (
  PERSON_PLAN_RELTN.PRIORITY_SEQ = 1
  and PERSON_PLAN_RELTN.END_EFFECTIVE_DT_TM > SYSDATE
)
'''

In [145]:
# Using the custom context manager
result = []
with adw_sql_query_issue.SQLQueryFixSession() as session:
    result.append(session.chat_with_agent("Here is the Oracle query for ADW: '{}'. Please only provide the potential issues. Please do not provide the information if the query does not have the error.".format(example_query2)))
    result.append(session.chat_with_agent("Here are the schemas of related tables including the column name and type: '{}'. Can you find new issues base this or confirm the potential issues you found?".format(adw_sql_query_issue.get_table_schemas_of_query(example_query2))))
    insert_table_schema = adw_sql_query_issue.run_sql_query_in_adw("SELECT COLUMN_NAME, DATA_TYPE FROM ALL_TAB_COLUMNS WHERE OWNER = '{}' AND TABLE_NAME = '{}'".format("RRMC_ANALYST", "RRMC_CARE_PROVIDERS"))
    result.append(session.chat_with_agent("The result of the query will be insert into this table. The column name and types are {}. Can you find new issues base this or confirm the potential issues you found?".format(insert_table_schema)))
    result.append(session.chat_with_agent("Please let us know the if the origin query has risk of any error. Please give us the potential error."))
    result.append(session.chat_with_agent("Please provide the fixed Oracle query only. Please only fix the confirmed issue."))

<Response [200]>
Create the session
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
Delete the session
<Response [200]>

In [202]:
# Using the custom context manager
result = []
with adw_sql_query_issue.SQLQueryFixSession() as session:
    # In the first step, we provide the query only.
    prompt_1 = "You are the ADW query expert. Here is the Oracle query for ADW: '{}'. Please only provide the potential issues including the error_code, error_message, and reason. If there are no errors, please do not discuss".format(example_query2)
    # print(prompt_1)
    result.append(session.chat_with_agent(prompt_1))

    # In the second step, we provide the input tables schemas
    input_table_schemas = adw_sql_query_issue.get_table_schemas_of_query(example_query2)
    # print(input_table_schemas)
    prompt_2 = "Here are the schemas of related tables including the column name and type: '{}'. Can you find new issues based on this or confirm the potential issues you found?".format(input_table_schemas)
    result.append(session.chat_with_agent(prompt_2))

    # # In the third step, we provide the target tables schemas
    target_table_schemas = adw_sql_query_issue.run_sql_query_in_adw("SELECT COLUMN_NAME, DATA_TYPE FROM ALL_TAB_COLUMNS WHERE OWNER = '{}' AND TABLE_NAME = '{}'".format("RRMC_ANALYST", "RRMC_CARE_PROVIDERS"))
    prompt_3 = "The query result will be inserted into this table. The column name and types are {}. Can you find new issues based on this or confirm the potential issues you found?".format(target_table_schemas)
    result.append(session.chat_with_agent(prompt_3))

    # # In the fourth step, we want the GenAI to provide the fixed query
    result.append(session.chat_with_agent("Please provide the fixed Oracle query only. Please check the entire query and fix the confirmed issues."))

<Response [200]>
Create the session
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
Delete the session
<Response [200]>

In [204]:
text_result = [item.message.content.text for item in result]
print(len(text_result))
for index, item in enumerate(text_result):
    print(index)
    print(item)

4
0
I cannot provide an answer to this query.
1
The provided query has potential issues with the comparison of dates and timestamps. The error code 'ORA-01843' indicates an invalid month specification, and the resolution suggests that explicit type conversion is needed for string literals when comparing dates or timestamps.

In the given query, there are comparisons made with the date '01-02-2100', which could be the root cause of the issue. The query should use the `TO_TIMESTAMP` function to explicitly convert the string literal to a timestamp with the correct format, as shown in the example:

```sql
SELECT EVENT_ID
FROM EVENTS
WHERE EVENT_START > TO_TIMESTAMP('01-02-2100', 'DD-MM-YYYY');
```

Therefore, the potential issue lies in the comparison of dates or timestamps, and the resolution is to use explicit type conversion with the `TO_TIMESTAMP` function and specify the correct format.
2
Based on the provided information, there seems to be a potential issue with the data types of the columns in the query result and the destination table. Specifically, the data type of the "BEG_EFFECTIVE_DT_TM" and "END_EFFECTIVE_DT_TM" columns in the query result is specified as "TIMESTAMP(6)" in the table schemas, but in the column definition of the destination table, these columns are defined as "DATE".

This discrepancy in data types could lead to issues when inserting the query result into the table. It is important to ensure that the data types of the query result columns match the corresponding columns in the destination table to avoid data loss or unexpected behavior.

To resolve this issue, you should consider changing the data type of the "BEG_EFFECTIVE_DT_TM" and "END_EFFECTIVE_DT_TM" columns in the destination table to "TIMESTAMP" or making necessary adjustments to the query to ensure compatibility with the "DATE" data type.
3
```sql
SELECT
  DCP_SHIFT_ASSIGNMENT.PERSON_ID,
  DCP_SHIFT_ASSIGNMENT.ENCNTR_ID,
  DCP_SHIFT_ASSIGNMENT.PRSNL_ID,
  PERSON_PLAN_RELTN.MEMBER_NBR,
  PERSON.NAME_LAST_KEY,
  PERSON.NAME_FIRST_KEY,
  PERSON.NAME_MIDDLE_KEY,
  case
    when (
      DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM > TO_TIMESTAMP('01-02-2100', 'DD-MM-YYYY')
      or DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM < TO_TIMESTAMP('01-02-1800', 'DD-MM-YYYY')
    ) then DCP_SHIFT_ASSIGNMENT.BEG_EFFECTIVE_DT_TM
    else dcp_shift_assignment.beg_effective_dt_tm at time zone 'America/New_York'
  end BEG_EFFECTIVE_DT_TM,
  case
    when (
      DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM > TO_TIMESTAMP('01-02-2100', 'DD-MM-YYYY')
      or DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM < TO_TIMESTAMP('01-02-1800', 'DD-MM-YYYY')
    ) then DCP_SHIFT_ASSIGNMENT.END_EFFECTIVE_DT_TM
    else dcp_shift_assignment.end_effective_dt_tm at time zone 'America/New_York'
  end END_EFFECTIVE_DT_TM,
  (
    select DISPLAY
    from RRMC_P0148.CODE_VALUE
    where CODE_VALUE = ASSIGNED_RELTN_TYPE_CD
  ) PRVDR_RELATIONSHIP
from RRMC_ANALYST.RRMC_DCP_SHIFT_ASSIGNMENT DCP_SHIFT_ASSIGNMENT
  join RRMC_P0148.PERSON
    on (
      PRSNL_ID = PERSON.PERSON_ID
      and DCP_SHIFT_ASSIGNMENT.PRSNL_ID <> 0
    )
  join RRMC_P0148.PERSON_PLAN_RELTN
    on DCP_SHIFT_ASSIGNMENT.PERSON_ID = PERSON_PLAN_RELTN.PERSON_ID
where (
  PERSON_PLAN_RELTN.PRIORITY_SEQ = 1
  and PERSON_PLAN_RELTN.END_EFFECTIVE_DT_TM > SYSDATE
)
```

In [208]:
adw_sql_query_issue.run_sql_query_in_adw(text_result[3][6:-4])

[(1670978,
  15263091,
  1278286,
  '076405332A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1670978,
  15263091,
  1278286,
  '9KM5VE3XU63',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1595278,
  14775063,
  1276533,
  '5V68DU4TR20',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1595278,
  14625521,
  1276533,
  '5V68DU4TR20',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1595278,
  14625521,
  1276533,
  '5V68DU4TR20',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1595278,
  15194528,
  2049786,
  '5V68DU4TR20',
  'CRISAFULLI',
  'LINDA',
  'X',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1809168,
  15687357,
  1277227,
  '3P73TA2AR89',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1573561,
  14983260,
  1932169,
  '2018502',
  'SMITH',
  'HEATHER',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1625985,
  15638034,
  1277290,
  '935738349',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1625985,
  15638034,
  1277290,
  '935738349',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  '154302353',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  '154302353',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  '154302353A',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  '154302353A',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  'NA',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1743228,
  14527576,
  1277227,
  'NA',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684772,
  14811415,
  1276533,
  '1702873',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684772,
  14811415,
  1276533,
  '1702873',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684772,
  14811415,
  1278286,
  '1702873',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684772,
  14913521,
  1278286,
  '1702873',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684772,
  15282507,
  2049786,
  '1702873',
  'CRISAFULLI',
  'LINDA',
  'X',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1670247,
  14563026,
  1276170,
  '3CP7J63YE73',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1579846,
  15044802,
  1276170,
  '8N38E29MW58',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14774714,
  1276533,
  '9EY8G84PP29',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14948002,
  1276533,
  '9EY8G84PP29',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14948002,
  1276533,
  '9EY8G84PP29',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14948002,
  1276533,
  '9EY8G84PP29',
  'FLANDERS',
  'CONCEPCION',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14774714,
  1278286,
  '9EY8G84PP29',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632251,
  14764603,
  1277202,
  '9EY8G84PP29',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1833748,
  14620657,
  1277227,
  '917205054',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1833748,
  14620657,
  1277227,
  '917205054',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1833748,
  14620657,
  1277227,
  '917205054',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1833748,
  14620657,
  1277227,
  '917205054',
  'HOLLER',
  'JOANNE',
  'L',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1684574,
  14401022,
  1277202,
  '1NN4U55PN99',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1614269,
  14338406,
  1276170,
  '9K61P68MY04',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '955378087',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  None,
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  None,
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  None,
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '955378087',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '070048768',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '070048768',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '070048768',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '070048768',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '070048768',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '070048768',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '040326650A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '040326650A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '040326650A',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  14705861,
  1277290,
  '955378087',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1624970,
  15127437,
  1276170,
  '955378087',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '15914',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '15914',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '15914',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1711854,
  14893805,
  2806097,
  '39596636',
  'MCALLISTERCOOK',
  'TAMARA',
  'J',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1711854,
  14893805,
  1276264,
  '39596636',
  'HUNTER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1711854,
  14893805,
  2901643,
  '39596636',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1711854,
  14893805,
  1277202,
  '39596636',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1708190,
  15157280,
  1277290,
  '009564091A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '009564091A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '009564091A',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '009564091A',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '009564091A',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '15914',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '15914',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '15914',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '15914',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '15914',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '15914',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '15914',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '15914',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1708190,
  15157280,
  1277290,
  '009564091A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '009564091A',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '009564091A',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '009564091A',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '009564091A',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '009564091A',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1708190,
  15157280,
  1277290,
  '1F01A13YC39',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1277290,
  '1F01A13YC39',
  'JONES',
  'ANDREA',
  None,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2659899,
  '1F01A13YC39',
  'TRONO',
  'MARY',
  'B',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Lead Care Coordinator'),
 (1708190,
  15157280,
  1278286,
  '1F01A13YC39',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '1F01A13YC39',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15157280,
  1278286,
  '1F01A13YC39',
  'SHALOO',
  'MAUREEN',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1708190,
  15180123,
  2901643,
  '1F01A13YC39',
  'BROWER',
  'KARYN',
  'E',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Social Worker'),
 (1708190,
  15180123,
  1277202,
  '1F01A13YC39',
  'HELINSKI',
  'SAMANTHA',
  'M',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  'Transitional Care Nurse'),
 (1688040,
  14581645,
  1276433,
  None,
  'DAY',
  'ANNE',
  'C',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1577232,
  14842566,
  1276170,
  '8T83T22EA97',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1688040,
  14581645,
  1276433,
  None,
  'DAY',
  'ANNE',
  'C',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632080,
  14836438,
  1276433,
  '2WW4MP2RW92',
  'DAY',
  'ANNE',
  'C',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (1632080,
  14836438,
  1276170,
  '2WW4MP2RW92',
  'BARDIN',
  'DALE',
  'S',
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  <java object 'oracle.sql.TIMESTAMPTZ'>,
  ' '),
 (3381214,
  15191392,
  1276594,
  'GF32671J',
  'GHENT',
  'CAROL',
  'V',
  <java object 'oracle.sql.TIMESTAMPTZ'>,